# Database Credentials
POSTGRES_USER=user_here
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=db_name_here

# FastAPI Database URL
DATABASE_URL=postgresql://user:password@localhost:5433/dbname

# Security settings
SECRET_KEY=your_secret_key_here